@model IEnumerable<Pokedex.Dominio.Pokemon> // Especificamos el tipo de modelo que se va a utilizar en la vista, en este caso es una lista de objetos Pokemon que se encuentra en Pokedex.Dominio. Esto permite que la vista tenga acceso a las propiedades y métodos de los objetos Pokemon para mostrar la información en la tabla.

@{
    ViewData["Title"] = "Listado Pokemon";
}

<h1>Pokedex</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Agregar Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.UrlImagen)
            </th>
            <th>
                Tipo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td> *@
            <td>
                @* @Html.DisplayFor(modelItem => item.UrlImagen) *@
                <img src="@item.UrlImagen" alt="@item.Nombre" style="max-width: 100px; max-height: 100px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Modificar</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-success">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
